# This is an example .env file for configuring Django settings.
# Copy this file to .env and modify the values as needed.

## FOR DEVELOPMENT ##
# DJANGO_ENV=development
# DEBUG=1

## FOR PRODUCTION ##
# DJANGO_ENV=production
# DEBUG=0

# DJANGO_SECRET_KEY=your-actual-secret-key
# ALLOWED_HOSTS=localhost,edcnitd.co.in